.boatSpacing {
  /* background-color: red; */
  height: 40%;
  width: 100%;
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Horizontally center the image */
  align-items: end; /* Vertically center the image */
}

.boat {
  height:100%;
  width: auto;
  display: block;
  z-index: 30;
  animation: rock 5s ease-in-out infinite alternate; /* Animation: name, duration, timing-function, iteration-count */
  transform-origin: center bottom; /* Sets the rotation pivot point to bottom center */

}

/* Define the keyframes for back-and-forth rotation */
@keyframes rock {
  0% {
    transform: rotate(3deg);
  }
 
  100% {
    transform: rotate(-3deg); /* Return to original position */
  }
}
.sun{
  position: absolute;
  width:auto;
  height:20%;
  top:2%;
  right:5%;
  animation: rock 5s ease-in-out infinite alternate; /* Animation: name, duration, timing-function, iteration-count */
  transform-origin: center center; /* Sets the rotation pivot point to bottom center */
}

.island1{
  position: absolute;
  width:auto;
  height:5%;
  top:55%;
  left:5%;
}

.island2{
  position: absolute;
  width:auto;
  height:10%;
  top:52%;
  right:10%;
}


.cloud1{
  position: absolute;
  width:auto;
  z-index: 20;
  height:10%;
  top:20%;
}

.cloud2{
  position: absolute;
  width:auto;
  z-index: 20;
  height:10%;
  top:25%;
}



@media (max-width: 768px) {
  .boat {
    height: 60%;
    width: auto;
  }
  .sun{
  width:auto;
  height:15%;
  right:3%;
  top:20%;
  }
  .cloud1{
      height:7%;
  }
   .cloud2{
      height:7%;
  }
  .island2{
    visibility:hidden;
  }
  
}