.ocean{
height: 47%;
height: 47dvh;

  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 40;
}
.beach{
  width:100%;
  position:absolute;
  bottom:0;
  z-index: 60;
  display:grid;
  overflow:hidden
}
.beachImage{
  width:100%;
}

.beachRaise{
  background-color: #c9945f;
  width:100%;
  height:10px;
}

.chestsAlign{
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: relative;
  width:90%;
  top:11vh;
  z-index: 40;
  margin-left: 5%;
}


